<% present deal, DealPresenter do |presenter| %>
  <div class="mb-4">
    <h3 class="text-xl font-bold text-gray-700 mb-2"><%= deal.day %></h3>
    <div class="bg-white shadow rounded-xl p-4">
      <p class="text-gray-800"><%= deal.description %></p>
      <p class="text-xs text-gray-500"><%= presenter.timestamp %></p>
    </div>
  </div>
<% end %>